<header class="header">
    <a routerLink="pokemon/list">
        <img width="72px" height="72px" src="https://www.clipartmax.com/png/full/249-2495981_pok%C3%A9api-pokemon-go-icon-png.png">
    </a>
    <span class="header__Separator"></span>
    <a routerLink="user/profile">{{ user.email }}</a>
    <a class="header__Logout" routerLink="logout">Log out</a>
</header>