.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    background-color: rgb(193, 245, 247);
    border-bottom: darken(cadetblue, 20%);
    border-bottom-width: 8px;

    color: rgb(43, 31, 23);

    height: 72px;

    padding: 0.25em 1em;

    gap: 10px;

    display: flex;
    flex-flow: row nowrap;

    justify-content: flex-start;
    align-items: center;

    img {
        width: 56px;
        height: 56px;
    }

    &__Logout {
        margin-left: auto;
    }
}