.pokemon__List {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;

    gap: 10px;

    width: 100%;
    min-height: 90vh;

    padding-bottom: 40px;
}

.page__Holder {
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;
    
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;

    width: 90%;
    margin: 1em auto;

    &.loading {
        pointer-events: none;
    }

    &__Link {
        &:hover {
            cursor: pointer;
        }

        &.active {
            font-size: 2em;
            font-weight: bold;
        }
    }
}