<div *ngIf="!loading.all">
    <h3>List of Pokémon</h3>
    <label for="page_size">
        Pokemon per page&nbsp;
        <select [(ngModel)]="limit" [ngModelOptions]="{ 'standalone': true }" (change)="pageSizeUpdated()" name="page_size" [disabled]="loading.pokemon">
            <option [value]="20">20</option>
            <option [value]="40">40</option>
            <option [value]="60">60</option>
            <option [value]="80">80</option>
            <option [value]="100">100</option>
        </select>
    </label>
    <div class="pokemon__List" *ngIf="!loading.pokemon">
        <app-pokemon-card *ngFor="let pkm of pokemon" [pokemon]="pkm" (onFavorite)="favoritePokemon($event)"></app-pokemon-card>
    </div>
    <div *ngIf="loading.pokemon">
        Loading Pokémon...
    </div>
    <div class="page__Holder" [ngClass]="loading.all || loading.pokemon ? 'loading' : ''">
        <span class="page__Holder__Link" (click)="selectPage(1)">&lt;&lt; First</span>
        <span class="page__Holder__Link" (click)="previousPage()">&lt; Previous</span>
        <span class="page__Holder__Link" [ngClass]="page === current_page ? 'active' : ''" *ngFor="let page of getPagesRange()" (click)="selectPage(page)">{{ page }}</span>
        <span class="page__Holder__Link" (click)="nextPage()">Next &gt;</span>
        <span class="page__Holder__Link" (click)="selectPage(pages_total)">Last &gt;&gt;</span>
    </div>
</div>
<div *ngIf="loading.all">Loading</div>
