<div class="pokemon__Card">
    <div class="pokemon__Card__Header">
        <h4 class="pokemon__Card__Header__Title">{{ pokemon.name }}</h4>
        <button *ngIf="!isPokemonFavorited()" type="button" (click)="favoritePokemon()">&lt;3</button>
        <span *ngIf="isPokemonFavorited()">Favorited</span>
    </div>
    <div class="pokemon__Card__Image">
        <img [src]="pokemon.image || ''" [alt]="'Image of ' + pokemon.name" width="96px" height="96px">
    </div>
    <div class="pokemon__Card__Data">
        <span class="pokemon__Card__Data__Badge">{{ pokemon.types?.join(', ') || 'N/A' }}</span>
    </div>
</div>
