.pokemon__Card {
    flex: 1 0 25%;
    padding: 0.5em 1em;

    display: flex;
    flex-flow: column nowrap;

    background-color: rgb(156, 211, 243);
    color: rgb(45, 53, 58);

    border-radius: 8px;

    justify-content: space-between;

    &__Header {
        &__Title {
            width: 100%;
            text-align: center;
        }
    }
}