<div class="login-form">
    <form (submit)="login()" [formGroup]="login_form">
        <div class="form-group">
            <label for="email">
                Email
                <input type="email" formControlName="email" name="email">
            </label>
            <span *ngIf="email?.touched && email?.errors?.required">This field is required.</span>
            <span *ngIf="email?.touched && email?.errors?.email">Please enter a valid email.</span>
        </div>
        <div class="form-group">
            <label for="password">
                Password
                <input type="password" formControlName="password" name="password">
            </label>
            <span *ngIf="password?.touched && password?.errors?.required">This field is required.</span>
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="login_form.invalid || logging_in">{{ logging_in ? 'Logging in...' : 'Log in' }}</button>
        </div>
    </form>
    <span *ngIf="error && error !== ''">{{ error }}</span>
    <hr>
    <a routerLink="/signup">Create account</a>
</div>
