@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Antic Slab', serif;
}

html, body {
    margin: 0;
    padding: 0;
}