<div class="login-form">
    <form (submit)="signup()" [formGroup]="signup_form">
        <div class="form-group">
            <label for="email">
                Email
                <input type="email" formControlName="email" name="email">
            </label>
            <br>
            <span *ngIf="email?.dirty && email?.errors?.required">This field is required.</span>
            <span *ngIf="email?.dirty && email?.errors?.email">Please enter a valid email.</span>
        </div>
        <div class="form-group">
            <label for="password">
                Password
                <input type="password" formControlName="password" name="password" (keyup)="validatePasswords()">
            </label>
            <br>
            <span *ngIf="password?.dirty && password?.errors?.required">This field is required.</span>
            <span *ngIf="password?.dirty && password?.errors?.minlength">Password must be at least {{ password?.errors?.minlength.requiredLength }} characters long.</span>
            <span *ngIf="password?.dirty && password?.errors?.invalid_password">{{ password?.errors?.invalid_password }}</span>
        </div>
        <div class="form-group">
            <label for="repeat_password">
                Repeat password
                <input type="password" formControlName="repeat_password" name="repeat_password"
                    (keyup)="validatePasswords()">
            </label>
            <span *ngIf="repeat_password?.dirty && repeat_password?.errors?.mismatched">Passwords do not match</span>
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="signup_form.invalid">Sign up</button>
        </div>
    </form>
    <hr>
    <a routerLink="/login">Log in</a>
</div>