<div class="user-info">
    User ID: {{ user.user_id }} <br>
    Email: {{ user.email }} <br>
    Favorite Pokemon: {{ user.favorite_pokemon?.name || "N/A" }} <br>
</div>

<a [routerLink]="['../settings']">Settings</a>